@import "tailwindcss";

@theme {
  --color-cSky: #c3ebfa;
  --color-cSkyLight: #edf0fd;
  --color-cPurple: #cfceff;
  --color-cPurpleLight: #f1f0ff;
  --color-cYellow: #fae27c;
  --color-cYellowLight: #fefce8;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  color: #000 !important;
  background: #c3ebfa !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

/* @layer utilities {
  .bg-Csky {
    background-color: var(--color-cSky);
  }
  .bg-CskyLight {
    background-color: var(--color-cSkyLight);
  }
  .bg-Cpurple {
    background-color: var(--color-cPurple);
  }
  .bg-CpurpleLight {
    background-color: var(--color-cPurpleLight);
  }
  .bg-Cyellow {
    background-color: var(--color-cYellow);
  }
  .bg-CyellowLight {
    background-color: var(--color-cYellowLight);
  }
} */
